/* fonts */
@font-face {
    font-family: DaysLater;
    src: url("../fonts/28DaysLater.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #fff;
}

:root {
    --higlightBgColor: #333

}

nav ul {
    background-color: var(--higlightBgColor);
}

.ml-auto {
    margin-left:auto;
}

.mr-auto {
    margin-right:auto;
}

.text-right {
    text-align:right;
}

.text-left {
    text-align:left;
}

table {
    border-spacing:0;
}

table td,
table th {
    padding:10px;
}

table th {
    border-bottom:1px solid #555;
}

table td {
    border-bottom:1px solid #999;
}

.d-none {
    display: none !important;;
}

.d-flex {
    display: flex !important;;
}

.flex-right-center {
    align-items: center;
    justify-content: flex-end;
}

.font-16 {
    font-size:16px;
}

.font-18 {
    font-size:18px;
}

.font-40 {
    font-size:40px;
}

.font-60 {
    font-size:60px;
}

.m-0 {
    margin: 0px;
}

.mt-10 {
    margin-top:10px;
}

.mt-20 {
    margin-top:20px;
}

.mt-40 {
    margin-top:40px;
}

.mb-60 {
    margin-bottom:60px;
}

.ml-10 {
    margin-left:10px;
}

.p-0 {
    padding:0;
}

.obveznoPolje {
    margin-top:3px;
    margin-left:10px;
    font-size:14px;
    color:#dc143c;
    text-align:left;
    margin-left:0;
}

.font-arial {
    font-family:Arial;
}

.w-320 {
    width:320px;
}

.cursor-pointer {
    cursor:pointer;
}

.error-msg {
    color:#dc143c;
    font-size:14px;
}

.modal {
    position:fixed;
    left:0;
    top:0;
    height:100vh;
    overflow:hidden;
    right:0;
    background-color:rgba(0,0,0,0.5);
}

.modalContent {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:20%;
    border-radius:20px;
    background-color:#fff;
    box-shadow:5px 10px 8px #888888;
}

.modalHeader {
    text-align:center;
    position:relative;
    padding:15px 30px 0 30px;
}

.modalHeader h3 {
    font-size:30px;
    font-family:DaysLater;
    color:#dc143c;
}

.modalBody {
    padding:0 30px 30px 30px;
}

.modalClose {
    position:absolute;
    right:20px;
    top:20px;
    cursor:pointer;
}

.headerLogo {
    height:80px;
}

.font-daysLater {
    font-family:DaysLater;
}

.generalRed {
    color:#dc143c;
}

/* body {
    background-color:#888888;
} */

.btn-main {
    color:#dc143c;
    font-size:18px;
    font-weight:bold;
    border-radius:15px;
    padding:5px 10px;
    border:1px solid #dc143c;
    background-color:transparent;
    outline:none;
    cursor:pointer;
    text-decoration:none;
}

.btn-main:hover {
    color:#fff;
    background-color:#dc143c;
}

.uporabniskoIme {
    font-size:30px;
    font-family:DaysLater;
    margin-right:20px;
    vertical-align:middle;
}

.redBackground {
    background-color:#dc143c;
}

.color-white {
    color:#fff;
}

.font-bold {
    font-weight:bold;
}

.btn-main.btn-registracija {
    color:#a9c81c;
    border:1px solid #a9c81c;
    margin-left:10px;
}

.btn-main.btn-registracija:hover {
    background-color:#a9c81c;
    color:#333;
}

.kosaricaTabela {
    height:25px;
    cursor:pointer;
}

table tr:not(:first-child):hover {
    background-color:rgba(0,0,0,0.2);
}